$primary-color:#777;
$accent-color:#ff652f;
$text-color:#ff0;
$font-weights:( 
    "regular" : 200,
    "medium": 500,
    "bold":700
);
$fontsizes:(
    "s": 14px,
    "m":18px,
    'l':22px,
    'xl':30px
);

$mobile :800px;